<h2>Customer Details</h2> 
<div *ngIf="model">
    <div class="whole">
		<table>
			<tr class="first"><td>Applicant Name :</td><td>{{ model.applicantName }}</td></tr>
			<tr><td>Loan Id :</td><td>{{ model.loanId }}</td></tr>
			<tr><td>Applicant Type :</td><td>{{ model.loantype }}</td></tr>
			<tr><td>Applicant Address :</td><td>{{ model.applicantAddress }}</td></tr>
			<tr><td>Applicant Mobile :</td><td>{{ model.applicantMobile }}</td></tr>
			<tr><td>Applicant Email :</td><td>{{ model.applicantEmail }}</td></tr>
			<tr><td>Applicant Aadhar No :</td><td>{{ model.applicantAadhar }}</td></tr>
			<tr><td>Applicant Pan No :</td><td>{{ model.applicantPan }}</td></tr>
			<tr><td>Applicant Salary :</td><td>{{ model.applicantSalary }}</td></tr>
			<tr><td>Amount Required :</td><td>{{ model.loanAmountRequired }}</td></tr>
			<tr><td>Repayment Months :</td><td>{{ model.repaymentMonths }}</td></tr>
		  </table>
		<br>										
        <button (click)="list()" class="btn btn-primary">Back to customerDetails</button><br>
		<button (click)="list1()" class="btn btn-primary">Back to Search</button>
    </div>
</div>
<br>